.nav-bar {
  height: 4rem;
}

#search-column{
  margin: 0;
  position: relative;
  top: 1rem;
}


.nav-column > form{
  width: 50%;
}


#mobile-menu:hover{
  margin: auto;
  border-radius: 30rem;
  background-color: var(--secundary-color);
}


#frontpage-info{
  font-size: 60px;
}