@import "desktop.css" (min-width: 1150px);
@import "mobile.css" (max-width: 1150px);

@font-face {
  font-family: custom;
  src: url(../font/US101.TTF);
}

:root {
  --primary-color: #323c87;
  --secundary-color: #ef2256;
  --white-color:rgb(254, 254, 254);
  --gray-color: rgba(199, 199, 199, 0.699);
}

*{
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html{
  min-width: 375px;
  max-width: 1600px;
  
  height: 100%;

  display: table;
  margin: auto;
}

body{
  display: table-cell;
  vertical-align: middle;
  background-color: var(--white-color);
  
}

img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.2rem;
}

.clear{
  margin: 0;
  padding: 0;
}

.menu{
  position: sticky;
  z-index: 666;
  top: 0;
  background-color: var(--white-color)
}

.nav-bar {
  margin-top: 1.5rem;
  display: grid;
  /*grid-template-columns: PLATFORM-SPECIFIC (OTHER CSS FILES)*/
  grid-template-rows: 100%;
}

.nav-column{
  width: 100%;
  margin: 0;
  padding: 0;
}

#search-column{
  margin: 0;
  position: relative;
}

.nav-column > form{
  margin: 0;
  display: flex;
  /*width set platform specific*/
}

.nav-column > form > input{
  border-radius: 1rem;
  border-color: transparent;
  background-color: var(--gray-color);
  width: 95%;
  margin: 5px;
  height: 2.3rem;
  padding: 1rem;
}

.nav-column > form > input:hover{
  transition: transform .2s;
  transform: scale(1.02);
}


.nav-column > form > button{
  background-image: url('../img/search.png');
  background-color: transparent;
  border: 0;
  background-size: cover;
  background-position: center;
  width: 4rem;
  height: auto;
  margin: 0;
  margin-right: 0rem;
}

.nav-column > form > button:hover{
  background-color: var(--secundary-color);
  border-radius: 3rem;

  transition: transform .1s;
  transform: scale(1.1);
}

.separator{
  background-color: var(--gray-color);
  height: 0.1rem;
  margin: 1rem;
  border: 0;
}

.content{
  width: 85%;
  margin: auto;
  min-height: 92%;
}

#nav-logo{
  margin: 0;
  padding: 0;
}

#nav-logo:hover{
  transition: transform .2s;
  transform:  scale(1.2);
}

.content-info{
  position: relative;
  text-align: center;
  width: 100%;
  height: auto;
}

.centered {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: 100%;
  height: auto;
}

#frontpage-info{
  position: absolute;
  color: black;
  background-color: rgba(255, 255, 255, 0.734);
  background-clip: content-box;

  /*FONT-SIZE DETERMINED IN PLATFORM SPECIFIC CSS*/
  font-family: custom;
}

.content-card{
  background-color: var(--white-color);
  position: relative;

  margin-top: 1rem;
}

.content-header{
  display: grid;
  grid-template-columns: 30fr 1fr;
  grid-template-rows: 100%;
}

.content-header > *{
  vertical-align: middle;
  margin-top: 1rem;
}

.star-icon{
  height: 2rem;
  width: auto;
  margin: 0;
  padding: 0;
}

.star-icon:hover{
  content: url("../img/star-selected.png");
  transition: transform .1s;
  transform: scale(1.1);
}

.restaurant-name{
    padding: 0;
    margin: 0;
    /*FONT SIZE PLATFORM SPECIFIC*/
}

.restaurant-address{
  margin: 0;
  margin-bottom: 2rem;
}

.weekly-menu{
  border: 0;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.1rem;
  font-family: custom;
  padding: 1rem;
  border-radius: 1rem;
}

.weekly-menu:hover{
  background-color: var(--secundary-color);
  transition: transform .2s;
  transform: scale(1.03);
}