@import "desktop.css" (min-width: 750px);
@import "mobile.css" (max-width: 750px);

:root {
  --primary-color: #323c87;
  --secundary-color: #ef2256;
  --white-color:rgb(254, 254, 254);
  --gray-color: rgba(199, 199, 199, 0.699);
}

*{
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html{
  min-width: 375px;
  max-width: 1600px;
  height: 100%;

  display: table;
  margin: auto;
}

body{
  display: table-cell;
  vertical-align: middle;
  background-color: var(--white-color)
}

img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu{
  position: sticky;
  top: 0;
  background-color: var(--white-color)
}

.nav-bar {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: 100%;
}

.nav-column{
  width: 100%;
  margin: 0;
  padding: 0;
}

#search-column{
  margin: 0;
  position: relative;
}

.nav-column > form{
  margin: 0;
  display: flex;
  /*width set platform specific*/
}

.nav-column > form > input{
  border-radius: 1rem;
  border-color: transparent;
  background-color: var(--gray-color);
  width: 95%;
  margin: 5px;
  height: 2.3rem;
  padding: 1rem;
}


.nav-column > form > button{
  background-image: url('../img/search.png');
  background-color: transparent;
  border: 0;
  background-size: cover;
  background-position: center;
  width: 4rem;
  height: auto;
  margin: 0;
  margin-right: 0rem;
}

.nav-column > form > button:hover{
  background-color: var(--secundary-color);
  border-radius: 3rem;
}

.separator{
  background-color: var(--gray-color);
  height: 0.1rem;
  margin: 1rem;
  border: 0;
}

.content{
  width: 85%;
  margin: auto;
}

#nav-logo{
  margin: 0;
  padding: 0;
}

#nav-logo:hover{
  transition: transform .2s;
  transform: scale(1.2);
}

#mobile-menu{
  width: 66%;
}

#mobile-menu:hover{
  margin: auto;
  border-radius: 30rem;
  background-color: var(--secundary-color);
}
