.nav-bar {
  height: 3rem;
}

#search-column{
  top:0.5rem;
}


.nav-column > form{
  width: 93%;
}

#mobile-menu{
  width: 80%;;
}

#mobile-menu:hover{
  margin: auto;
  border-radius: 0.25rem;
  background-color: var(--secundary-color);
}

#frontpage-info{
  font-size: 30px;
}