.nav-bar {
  height: 4rem;
}

header {
  height: 6rem;
}

#search-column {
  margin: 0;
  position: relative;
  top: 1rem;
}

ul,
desktop-navigation li {
  text-decoration: none;
  list-style-type: none;
}

.nav-column > form {
  width: 80%;
}

#mobile-menu {
  visibility: hidden;
}

#desktop-menu {
  visibility: visible;
}

.nav-bar {
  grid-template-columns: 3fr 20fr 0fr 8fr 1fr;
}

#desktop-navigation {
  display: flex;
}

#desktop-navigation > * > * > *,
#desktop-navigation > * > * {
  text-decoration: none;
  list-style-type: none;
  margin-left: 10px;
  font-family: custom;
  font-size: 32px;
  color: var(--primary-color);
  overflow: hidden;
  white-space: nowrap;
}

#desktop-navigation > * > *:hover,
#desktop-navigation > * > * > *:hover {
  color: var(--secundary-color);
  transition: transform 0.4s;
  transform: scale(1.1);
}

#frontpage-info {
  font-size: 60px;
}

.restaurant-name {
  font-size: 24px;
}
