#search-column {
  top: 0.5rem;
}
.nav-bar {
  grid-template-columns: 2fr 8fr 2fr;
  height: 3rem;
  max-height: 3rem;
  width: auto;
}
.nav-column > form {
  width: 93%;
}

#mobile-menu {
  visibility: visible;
}

#mobile-menu-button {
  border-color: transparent;
  background-color: transparent;
}

#desktop-menu {
  visibility: hidden;
}

#mobile-menu-img {
  width: 80%;
}

#mobile-menu-img:hover {
  margin: auto;
  border-radius: 0.25rem;
  background-color: var(--secundary-color);
}

#frontpage-info {
  font-size: 30px;
}

.restaurant-name {
  font-size: 17px;
}
