#search-column {
  top: 0.5rem;
}
.nav-bar {
  grid-template-columns: 2fr 8fr 2fr;
  height: 3rem;
  max-height: 3rem;
}
.nav-column > form {
  width: 93%;
}

#mobile-menu {
  visibility: visible;
}

#mobile-menu-button {
  border-color: transparent;
  background-color: transparent;
  height: 4rem;
  width: auto;
}

#mobile-menu-modal {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  border-width: 0;
  margin: 0;
  padding: 0;
}

#mobile-menu-modal > *,
#mobile-menu-modal > * > * {
  width: 100%;
  min-width: 100%;
  border-color: transparent;

  margin: 0;
  padding: 0;
}

.menu-button {
  background-color: rgb(255, 255, 255);
  min-width: 100%;
  padding: 1rem;
  font-family: custom;
  font-size: xx-large;
  color: var(--primary-color);
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  border-width: 1px;
  border-color: var(--gray-color);
}

.close-menu-button {
  color: var(--primary-color);
  font-size: xx-large;
  font-weight: 1000;
  background-color: transparent;
  border-color: transparent;
}

* > .close-menu-button,
* > * > .close-menu-button {
  text-align: right;
  justify-content: right;
  justify-self: right;
  justify-items: right;
  width: 100%;
}

#desktop-menu {
  visibility: hidden;
}

#mobile-menu-img {
  width: 80%;
}

#mobile-menu-img:hover {
  margin: auto;
  border-radius: 0.25rem;
  background-color: var(--secundary-color);
}

#frontpage-info {
  font-size: 30px;
}

.restaurant-name {
  font-size: 17px;
}

.content-card-button {
  margin-bottom: 0.5rem;
}
